.sp-post-img{
  max-height: 320px;
  overflow: hidden;
}
.sp-post img{
  max-width: 100%;
  height: auto;
}
@media( min-width: 769px ){
  .sp-posts-2, .sp-posts-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  .sp-posts-2{
    grid-template-columns: 1fr 1fr;
  }
}
